pandas
numpy
boto3
python-dotenv
dbt-athena-community
streamlit>=1.30.0
plotly
pyathena
xgboost
shap
scikit-learn
mlflow
chromadb
groq
protobuf<=3.20.3
langchain
langchain-groq
langchain-community
langchain-chroma
